.container {
    height: 100vh;

    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
}

.form {
    background-color: #0a0933;
    border-radius: 20px;
    box-sizing: content-box;
    height: 520px;
    padding: 50px;
    width: 550px;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Alkalami;
    font-size: 36px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
}

.lable {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px; 
    font-family: Alkalami;
    margin-left: 45px;
}

.box {
    text-align: center;
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 1px;
    margin-left: 45px;
    background-color: #e7e3e3;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 18px;
    outline: 4;
    padding: 4px 20px 0;
    width: 450px;
}

.box.success {
    color: rgb(0, 255, 47);
    outline: 4;
}

.button {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    width: 150px;
    margin-left: 200px;
}
  
.button:active {
    background-color: #06b;
}

.error {
    text-align: center;
    color: rgb(255, 0, 51);
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 10px; 
}